  body, html, #root {
    width: 100%;
    margin: 0;
  }
  
  html {
    height: 100%;
    background-color: #13293D;
  }

  h1, h2, h3, h4, h5, h6, p, span, button, th, tr, td {
    color: white;
  }
